<h1>login</h1>
<div>
    <form method="post" action="/api/sessions/users/login">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="contrasena" name="password"/>
        <br/>
        <button type="submit">login</button>
    </form>
    <h4>Si no tienes usuario puedes <a href="/users/signup">Registrarte</a> o <a href="/api/sessions/github">Registrate con Github</a></h4>
    
</div>